*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    position: fixed;
    top: 0;
    width: 100vw;
}

.header-top{
    padding:1rem 0;
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
}

.header-bottom{
padding: 0.8rem 0;
text-align: center;
border: 1px solid black;
background-color:purple;
}
.header-bottom a{
    text-decoration: none;
    color: white;
    /* border: 1px solid black; */
    margin: 0 1rem;
    padding: 0.2rem 0.5rem;
}
.header-bottom a:hover{
    color: red;
    /* text-decoration: underline; */
    background-color: blueviolet;
}

main{
    width:75vw;
    margin:8.5rem auto;
    margin-bottom: 2rem;
    border: 1px solid black;
}

.add-left{
position: fixed;
top: 0;
top: 137px;
height: 75vh;
width: 10vw;
border: 1px solid black;
background-image: url('https://tpc.googlesyndication.com/daca_images/simgad/3375160033503682754');
background-size: cover;
}


.add-right{
position: fixed;
top: 137px;
right: 0;
height: 75vh;
width: 10vw;
border: 1px solid black;
background-image: url('https://tpc.googlesyndication.com/simgad/367188368275824930');
background-size: cover;
}


.add{
    height: 20vh;
    border: 1px solid black;
    width: 100%;
    background-image: url('https://tpc.googlesyndication.com/simgad/6439254544114199192');
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.add1{
    background-image: url('https://s0.2mdn.net/simgad/11523487898654520011');
}


















/* ====================================================================== */
.Headlines{
    height: 350px;
    background-image: url('https://gumlet.assettype.com/newslaundry%2F2020-10%2Fefdcc32e-16e9-4a95-b69e-cbf2d077e476%2FHafta_YT.jpg?auto=format%2Ccompress&format=webp&w=700&dpr=1.0');
    border: 1px solid black;
    position: relative;
    z-index: -10;
}
.Headlines h2{
    /* text-align: right; */
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    right: 9rem;
    color: blue;
    /* background-color: blueviolet; */
    /* padding: 1rem; */
}



/* =================================================== */
.topstory{grid-area: topstory;}
.national{grid-area: national;}
.international{ grid-area: international;}
.politics{grid-area: politics;}
.busicness{grid-area: busicness;}
.tech{ grid-area: tech;}
.sports{grid-area: sports;}
.cricket{grid-area: cricket;}
.entertatment{ grid-area: entertatment;}


.main-part{
    margin: 2rem 0;
    /* border: 1px solid black; */
    display: grid;
    grid-template-areas:
    "topstory topstory"
    "national national"
    "international international"
    "politics busicness"
    "tech sports"
    "cricket entertatment"
    ;
}

.main-part section{
    border: 1px solid black;
}



/* =================================== */



.topstory_news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.news_1 img{
    width: 100%;
}




.news2 a{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}

.img{
  width: 200px;
  margin-right: 2rem;
}
.img img{
    width: 100%;
}



footer div{
    border: 1px solid black;
    height: 40vh;
   width: 75vw;
   margin: auto;
   background-color: black;
}